# Inline code

The code is written in one single block.

In [1]:
parameter unit ;
storage int ;
code {
    DROP ;
    PUSH int 2 ;
    PUSH int 3 ;
    ADD ;
    NIL operation ;
    PAIR
}

parameter unit;
storage int;
code { DROP ; PUSH int 2 ; PUSH int 3 ; ADD ; NIL operation ; PAIR };

In [2]:
RUN %default Unit 0

RUN: use %default; drop all; push (Unit, 0);
  DROP: pop (Unit, 0);
  PUSH: push 2;
  PUSH: push 3;
  ADD: pop 3, 2; push 5;
  NIL: push [];
  PAIR: pop [], 5; push ([], 5);

  value  type
-------  ------
      5  int

# Step by step

You can track the stack after each operation.

In [3]:
parameter unit ;
storage int ;

parameter unit;
storage int;

In [4]:
BEGIN Unit 0

value        type
-----------  -------------
Pair Unit 0  pair unit int

In [5]:
DROP ;

In [6]:
PUSH int 2 ;

  value  type
-------  ------
      2  int

In [7]:
PUSH int 3 ;

  value  type
-------  ------
      3  int

In [8]:
ADD ;

  value  type
-------  ------
      5  int

In [9]:
NIL operation ;

value    type
-------  --------------
[]       list operation

In [10]:
PAIR ;

value      type
---------  -------------------------
Pair {} 5  pair (list operation) int

In [11]:
COMMIT

  value  type
-------  ------
      5  int