# Inline code

The code is written in one single block.

In [8]:
parameter string ;
storage string ;
code {
    DUP ;
    CAR ;
    SWAP ;
    CDR ;
    CONCAT ;
    NIL operation ;
    PAIR
}

parameter string;
storage string;
code { DUP ; CAR ; SWAP ; CDR ; CONCAT ; NIL operation ; PAIR };

In [10]:
RUN %default "world" "Hello "

RUN: use %default; drop all; push ('world', 'Hello ');
  DUP: push ('world', 'Hello ');
  CAR: pop ('world', 'Hello '); push world;
  SWAP: pop world, ('world', 'Hello '); push world; push ('world', 'Hello ');
  CDR: pop ('world', 'Hello '); push Hello ;
  CONCAT: pop Hello ; pop world; push Hello world;
  NIL: push [];
  PAIR: pop [], Hello world; push ([], 'Hello world');

value          type
-------------  ------
"Hello world"  string

# Step by step

You can track the stack after each operation.

In [2]:
parameter string ;
storage string ;

parameter string;
storage string;

In [4]:
BEGIN " world" "Hello"

value                  type
---------------------  ------------------
Pair " world" "Hello"  pair string string

In [5]:
DUP ;

value                  type
---------------------  ------------------
Pair " world" "Hello"  pair string string

In [6]:
CAR ;

value     type
--------  ------
" world"  string

In [7]:
SWAP ;

value                  type
---------------------  ------------------
Pair " world" "Hello"  pair string string

In [8]:
CDR ;

value    type
-------  ------
"Hello"  string

In [9]:
CONCAT ;

value          type
-------------  ------
"Hello world"  string

In [10]:
NIL operation ;

value    type
-------  --------------
[]       list operation

In [11]:
PAIR ;

value                  type
---------------------  ----------------------------
Pair {} "Hello world"  pair (list operation) string

In [12]:
COMMIT

value          type
-------------  ------
"Hello world"  string