# Inline code

The code is written in one single block.

In [8]:
parameter string ;
storage string ;
code {
    DUP ;
    CAR ;
    SWAP ;
    CDR ;
    CONCAT ;
    NIL operation ;
    PAIR
}

parameter string;
storage string;
code { DUP ; CAR ; SWAP ; CDR ; CONCAT ; NIL operation ; PAIR };

In [10]:
RUN %default "world" "Hello "

RUN: use %default; drop all; push ('world', 'Hello ');
  DUP: push ('world', 'Hello ');
  CAR: pop ('world', 'Hello '); push world;
  SWAP: pop world, ('world', 'Hello '); push world; push ('world', 'Hello ');
  CDR: pop ('world', 'Hello '); push Hello ;
  CONCAT: pop Hello ; pop world; push Hello world;
  NIL: push [];
  PAIR: pop [], Hello world; push ([], 'Hello world');

value          type
-------------  ------
"Hello world"  string

# Step by step

You can track the stack after each operation.  
The **DUMP** opcode is not Michelson, it only allows you to see the current state of the stack.

In [1]:
parameter string ;
storage string ;

parameter string;
storage string;

In [2]:
BEGIN " world" "Hello"

value                  type
---------------------  ------------------
Pair " world" "Hello"  pair string string

In [3]:
DUP ; DUMP ;

value                  type
---------------------  ------------------
Pair " world" "Hello"  pair string string
Pair " world" "Hello"  pair string string

In [4]:
CAR ; DUMP ;

value                  type
---------------------  ------------------
" world"               string
Pair " world" "Hello"  pair string string

In [5]:
SWAP ; DUMP ;

value                  type
---------------------  ------------------
Pair " world" "Hello"  pair string string
" world"               string

In [6]:
CDR ; DUMP ;

value     type
--------  ------
"Hello"   string
" world"  string

In [7]:
CONCAT ; DUMP ;

value          type
-------------  ------
"Hello world"  string

In [8]:
NIL operation ; DUMP ;

value          type
-------------  --------------
[]             list operation
"Hello world"  string

In [9]:
PAIR ; DUMP ;

value                  type
---------------------  ----------------------------
Pair {} "Hello world"  pair (list operation) string

In [12]:
COMMIT

value          type
-------------  ------
"Hello world"  string